.footer {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4em;
}

.sort-button {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}


.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    text-indent: 40px;
    border: 2px solid #d6d4d4;
}


.search input:focus {
    box-shadow: none;
    border: 2px solid #007bff;
}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.blur {
    background: whitesmoke;
    filter: blur(0.1px);  
}

.rgrid {
    width: 6.5%;
    display: inline-block;
}

div.click-to-top span {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
    background: white;
    color: black;
    font-size: small;
  }
  
div.click-to-top:hover span {
    display: block;
}

@media (max-width: 992px) {
    .search {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .rgrid {
        width: 14%;
        display: inline-block;
    }
}