<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand mx-auto" style="font-size: 2em">Egyptians in AI</a>
  </div>
</nav>

<div class="container" style="margin-top: 6em;">

  <div class="row" style="margin: 5em;">
    <p class="text-center">
      Welcome to Egyptian in AI, a website dedicated to showcasing the profiles of prominent Egyptian researchers in the field of artificial intelligence. 
      If you think that someone is missing from our list of featured researchers, we welcome contributions from the community. You can create a pull request on our <a href="https://github.com/BKHMSI/egyptians-in-ai">GitHub repository</a> to suggest the addition of a new researcher or to update the information for an existing one.
      We hope that you find our website informative and inspiring, and we invite you to explore the profiles of our featured researchers to learn more about their work.
    <p>

    <div *ngFor="let researcher of researchers" class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card" style="background-color:whitesmoke;">
        <img src="{{ researcher.photo }}" class="rounded-circle mx-auto" width="160" height="160" alt="{{ researcher.name }}" style="margin: 0.5rem;">
        <div class="card-body" style="background-color: aliceblue;">
          <h4 class="card-title mb-0"> {{researcher.name}} </h4>
          <h5 class="card-subtitle mb-2 text-muted"> {{researcher.affliation}} </h5>   
          <h6 class="card-text"> {{researcher.position}} </h6> 
          <div style="min-height: 5em;">
            <strong>Research Interests:</strong>    
            <p class="card-text" style="font-size: 0.8rem;"> {{researcher.interests.toString()}} </p>
          </div>
          <hr>
          <p class="card-text text-center">
            <a href="{{researcher.scholar}}" target="_blank"><i class="fas fa-graduation-cap"style="font-size: 1.5rem; color: black; padding-right: 0.5rem;"></i></a>
            <a href="{{researcher.linkedin}}" target="_blank"><i class="fab fa-linkedin" style="font-size: 1.5rem; color: black; padding-left: 0.5rem;"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <hr>
    Developed by Badr AlKhamissi
  </footer>
</div>

<!-- <router-outlet></router-outlet> -->
